<script type="text/javascript">

var base_stat;

function message(text) {
  alert(text);
}

function change_multiplier() {
   // alert("called.\n");
      
    var diff = 0
    var neg_diff = 0
    var pos_diff = 0
    
    diff = $('character_multiplier_agility').value - base_stat['multiplier_agility'];
    if (diff > 0) {pos_diff += diff; } else {neg_diff += diff; }
    
    diff = $('character_multiplier_connection').value - base_stat['multiplier_connection'];
    if (diff > 0) {pos_diff += diff; } else {neg_diff += diff; }
    
    diff = $('character_multiplier_intellect').value - base_stat['multiplier_intellect'];
    if (diff > 0) {pos_diff += diff; } else {neg_diff += diff; }
    
    diff = $('character_multiplier_magic').value - base_stat['multiplier_magic'];
    if (diff > 0) {pos_diff += diff; } else {neg_diff += diff; }
    
    diff = $('character_multiplier_might').value - base_stat['multiplier_might'];
    if (diff > 0) {pos_diff += diff; } else {neg_diff += diff; }
    
    $('total_reductions').value = neg_diff
    $('total_increases').value = pos_diff
    
    //alert("finished.")
}


// this function obtains new base stats for the race chosen and updates 
// each multiplier element etc as appropriate. no need to reload an 
// entire div element.
function racial_change() {
  //alert("Boo1!");
  var race_choice = $('character_race');
  //alert("Boo2!");
  
  
  new Ajax.Request('race_info', {
    method: 'get',
    contentType: 'application/json',
    parameters: {raceindex: race_choice.value},
    onSuccess: function(transport) {
      //alert("Success!\n"+transport.responseJSON); 
      eval(transport.responseJSON)
      //alert("bing");
      var race_base = transport.responseJSON;
      //var race_text = transport.responseText;
      //alert("Obj:\n"+race_base["base_stat"]+"\nText:\n"+race_text);
      
      base_stat = race_base['base_stat']
      
      //alert("Values:\n"+base_stat['faith']);
      
      $('boondiv').update(base_stat['boon_cost']);
      $('character_deity').value = base_stat['deity'];
      $('character_faith').value = base_stat['faith'];
      $('character_starting_skillpts').value = base_stat['starting_skillpts']
      
      $('character_multiplier_agility').value = base_stat['multiplier_agility'];
      $('character_multiplier_connection').value = base_stat['multiplier_connection'];
      $('character_multiplier_intellect').value = base_stat['multiplier_intellect'];
      $('character_multiplier_magic').value = base_stat['multiplier_magic'];
      $('character_multiplier_might').value = base_stat['multiplier_might'];
      $('total_reductions').value = 0;
      $('total_increases').value = 0;
      
      $('character_loc').value = base_stat['loc'];
      $('character_halo').value = base_stat['halo'];
      $('character_willpower').value = base_stat['willpower'];
      $('character_mana').value = base_stat['mana'];
      $('character_con').value = base_stat['con'];
      $('character_primary_sphere').value = base_stat['primary_sphere'];
      
      var racial_mod = base_stat['racial_multiplier_mods'];
      $('racial_multiplier_div').update(racial_mod);
      
      $('racial_benefit_div').update(base_stat['racial_skills'])
      $('racial_ability_div').update(base_stat['racial_abilities'])
      $('racial_flaw_div').update(base_stat['racial_flaws'])
      
    },
    onFailure: function(transport){
      alert("There was an error accessing your racial template.\n"+
      "Please notify your web administrator. \n-Aegora");
    }  
  });
  
  
}

</script>


<h1>Create new character</h1>

<%= form_for(@character) do |f| %>
<%= render 'shared/error_messages', :object => f.object %>
<table class = 'profile' summary='New character generation form'>
<tr>
  <td class='main'>
  <table>
  <tr>
  <td>
  <div class="field">
    <%= f.label :character_name, "Character Name" %><br />
    <%= f.text_field :character_name %>
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :race %><br />
    <%= f.select "race",
      options_from_collection_for_select(
          @base_stats, 
          :id, 
          :race,
	  @race_index
      ), {}, {:onchange => 'racial_change()'}
         
      %>
    </select>  
    <!-- <input type='button' onclick='racial_change()' value='ReFresh'/>  -->
   </div>
  </td>
  </tr>
  <tr>
  <td>
  <div class="field">
    <%= f.label :alignment %><br />
    <%= f.select :alignment, 
             options_for_select([
	     "lawful good hopeful",
	     "neutral good hopeful",
	     "chaotic good hopeful",
	     "lawful neutral hopeful",
	     "neutral neutral hopeful",
	     "chaotic neutral hopeful",
	     "lawful evil hopeful",
	     "neutral evil hopeful",
	     "chaotic evil hopeful",
		"lawful good neutral",
	     "neutral good neutral",
	     "chaotic good neutral",
	     "lawful neutral neutral",
	     "neutral neutral neutral",
	     "chaotic neutral neutral",
	     "lawful evil neutral",
	     "neutral evil neutral",
	     "chaotic evil neutral"
	     ], 
	        :selected => "lawful good hopeful")
	%>	
  </div>
  </td>
  <td>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender,
             options_for_select(["male", "female", "other"], 
	        :selected => "female")
	%>	
  </div>
  </td>
  </tr>
  </table>
  <table>
  <tr>
  <td>
 <div id='race_div'>
 
 Racial Boon Cost: <span id='boondiv'> <%= @race_base.boon_cost %></span><br />
*This number of boons will be deducted from your total should you choose this race. <br />
<br />

<div class='field'>
Starting skill points: <%= f.number_field :starting_skillpts, 
  :value => "#{@race_base.starting_skillpts}", :size => 5, :readonly => 'true' %>
</div>

<table>
<tr><td>
  <div class="field">
    <%= f.label :deity %>
    <%= f.text_field :deity, :value=>"#{@race_base.deity}" %>    
  </div>
</td><td>
  <div class='field'>
     <%= f.label :faith %>
     <%= f.number_field :faith, :size => 3, :readonly => 'true' %>
  </div>
</td></tr>  
</table>   

<fieldset>
  <legend>Starting Physical Statistics</legend>
  <table>
    <tr>
      <td>  
	<div class='field'>
	  <%= f.label :loc, "Location" %> <br />
	  <%= f.number_field :loc, :readonly=>'true', :value=>"#{@race_base.loc}", :size=>5 %>
        </div>
      </td>
      <td>  
	<div class='field'>
	  <%= f.label :con, "Constitution" %> <br />
	  <%= f.number_field :con, :readonly=>'true', :value=>"#{@race_base.con}", :size=>5%>
        </div>
      </td>
       <td>  
	<div class='field'>
	  <%= f.label :halo, "Halo" %> <br />
	  <%= f.number_field :halo, :readonly=>'true', :value=>"#{@race_base.halo}", :size=>5%>
        </div>
      </td>
    </tr>
    <tr>    
     <td>  
	<div class='field'>
	  <%= f.label :con, "Willpower" %> <br />
	  <%= f.number_field :willpower, :readonly=>'true', :value=>"#{@race_base.willpower}", :size=>5 %>
        </div>
      </td>
       <td>  
	<div class='field'>
	  <%= f.label :mana, "Mana" %> <br />
	  <%= f.number_field :mana, :readonly=>'true', :value=>"#{@race_base.mana}", :size=>5%>
        </div>
      </td>
      <td>
        <div class='field'>
	  <%= f.label :primary_sphere, "Primary Sphere" %> <br />
	  <%= f.select :primary_sphere,  options_for_select(@sphere_list, 
	    :selected => "#{@race_base.primary_sphere}") 
	  %>  
	</div>
      </td>
    </tr>
  </table>
</fieldset>

<fieldset>
<legend>Skill Multipliers</legend>


<!-- If your racial type has a bonus to the skill multipliers (as do elves) then, display this info. -->
<div id='racial_multiplier_div'>
<% if @race_base.racial_multiplier_mods.nil? == false then %>
<p><strong>Racial Modifiers:</strong><%= @race_base.racial_multiplier_mods %></p>
<% end %>
</div>

<table>
  <tr>
  <td valign="top">
  <div class="field">
    <%= f.label :multiplier_agility, "Agility" %><br />
    <%= f.select :multiplier_agility, 
             options_for_select([ 1, 2, 3, 4, 5, 6, 7, 8, 9 ], @race_base.multiplier_agility),{},
	     :onchange => "change_multiplier()"
	     %>	<br />	
  </div> </td>
  
   <td valign="top"><div class="field">
    <%= f.label :multiplier_connection, "Connection" %> <br />
    <%=  f.select :multiplier_connection, 
             options_for_select([ 1, 2, 3, 4, 5, 6, 7, 8, 9 ],  @race_base.multiplier_connection),{},
	     :onchange=>"change_multiplier()"
	     %>	<br />		
  </div></td>
  
   <td valign="top"><div class="field">
     <%= f.label :multiplier_intellect, "Intellect" %> <br />
     <%= f.select :multiplier_intellect, 
             options_for_select([ 1, 2, 3, 4, 5, 6, 7, 8, 9 ], @race_base.multiplier_intellect), {},
	     :onchange=>"change_multiplier()"
	     %>		<br />	
  </div></td>
   <td valign="top"><div class="field">
     <%= f.label :multiplier_magic, "Magic" %> <br />
     <%= f.select :multiplier_magic, 
             options_for_select([ 1, 2, 3, 4, 5, 6, 7, 8, 9 ], @race_base.multiplier_magic),{},
	     :onchange=>"change_multiplier()"
	     %>		<br />	
  </div></td>
   <td valign="top"><div class="field">
     <%= f.label :multiplier_might, "Might" %> <br />
     <%= f.select :multiplier_might, 
             options_for_select([ 1, 2, 3, 4, 5, 6, 7, 8, 9 ], @race_base.multiplier_might),{},
	     :onchange=>"change_multiplier()"
	     %>	<br />	
  </div></td>
  </tr>
  </table>
  <table><tr>
  <td>
  Total Reductions: 
  <input type='number' id='total_reductions' readonly='true' value=0 size=5>
  </td>
  <td>
  Total Increases: 
  <input type='number' id='total_increases' readonly='true' value=0 size=5>
  </td>
  </tr></table>
  </fieldset>
  
  <fieldset>
    <legend>Racial Benefits </legend>
      <div id='racial_benefit_div'>
         
      </div>
  </fieldset>
  
    <fieldset>
    <legend>Racial Abilities </legend>
      <div id='racial_ability_div'>
         
      </div>
  </fieldset>
  
    <fieldset>
    <legend>Racial Flaws </legend>
      <div id='racial_flaw_div'>
         
      </div>
  </fieldset>
  
 </div>
  </td>
  </tr>
  <tr>
    <td>  
       <div class="field">
         <%= f.label :backstory %>*<br />
         <%= f.text_area :backstory %><br />
         *Must be longer than 50 characters.
       </div>
    </td>
 </tr>
</table>

  </td>
  <td class="sidebar round">
      Available Boons: 
      <span id='boon_display_area'> <%= @boons %>  </span>
      <br /> <br />
   
      <p><small>
Multiplier Reductions are set to the base values for the race you choose from the dropdown list. 
You may decrease your multipliers
by three (to a minimum of 1) as you desire. You may also increase two of your multipliers 
by one to obtain an additional reduction point, however, this can be done only once.
If your race is eligible for additional multiplier reductions, this will be noted above your multiplier 
selection box.
</small></p>
   
   
   <br />

  </td>
</tr>
</table>
  
  
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
 
<% end %>
